body{
    background-color: #020024;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 27%, rgba(24, 53, 102, 1) 56%, rgba(0, 212, 255, 1) 100%);
    color: white;
    margin-left: 0px;
}

*{
    color: white;
}



.navbar {
    margin-left: auto;
}

.header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.headings {
    text-align: center;
    font-size: 2em;
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn {
    box-shadow: rgba(219, 216, 218, 0.705) -5px 5px, rgba(204, 201, 203, 0.63) -10px 10px,
        rgba(240, 46, 170, 0.2) -15px 15px,
        rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
}

hr {
    border: 1px solid rgb(235, 232, 232);
    margin-top: 50px;
    margin-bottom: 50px;
}

.resume {
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;
    text-align: center;
}

.card-text{
    color: black;
}

.readMorebtn{
    border: 0px solid rgb(219, 213, 224); 
    border-radius: 5px;
    background-color: blue;
    color: white;

}

a {
    color: rgb(95, 61, 61);
    text-decoration: none;
}

a:hover {
    color: rgb(13, 218, 74);
    
}